<form asp-controller="Home" asp-action="List" method="get">


    <div class="card my-4">
        <h5 class="card-header">Arama</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" name="ara" placeholder="Bir şey arayın..">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Ara!</button>
                </span>
            </div>
        </div>
    </div>
</form>